<!DOCTYPE html>
<html>
  <head>
    <title>Authentication System</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      :root {
        --text: #130e01;
        --background: #fffaeb;
        --primary: #ff8400;
        --secondary: #fff5d6;
        --accent: #cf4307;
      }

      body {
        background-color: var(--background);
        color: var(--text);
      }

      .container {
        padding: 20px;
        margin: auto;
        max-width: 400px;
        margin-top: 10%;
      }

      .form-group {
        margin: 10px 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="alert">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </div>
  </body>
</html>
