<!DOCTYPE html>
<html>
  <head>
    <title>Authentication System</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Authentication System</h1>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="alert">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </div>
  </body>
</html>
