{% extends 'base.html' %} {% block content %}
<div
  style="
    background-color: var(--secondary);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 28em;
  "
  class="card mx-auto"
>
  <div class="card-body">
    <h2 class="card-title">{{role}} Signin</h2>
    <form method="post">
      <div class="form-group">
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          required
        />
      </div>
      <button
        style="background-color: #ff8400; border: none"
        type="submit"
        class="btn btn-primary"
      >
        Signin
      </button>
    </form>
    {% if role == "USER" %}
    <p class="mt-2">
      Don't have an account?
      <a href="{{ url_for('signup') }}">Signup</a>
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}
