{% extends 'base.html' %} {% block content %} {% if categories %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="categories-container overflow-auto">
        {% for categoryId, name in categories %}
        <div
          style="
            background-color: var(--secondary);
            width: 100%;
            overflow-x: auto;
            box-sizing: border-box;
          "
          class="card mb-4"
        >
          <div class="card-body">
            <div class="card-title">
              <h3>{{ name }}</h3>
            </div>

            <div style="gap: 1em" class="d-flex flex-nowrap">
              {% if products %} {% if products[categoryId-1] | length == 0 %}
              <p style="overflow: hidden; text-overflow: ellipsis">
                No products found
              </p>
              {% else %} {% for product in products[categoryId-1] %}
              <div
                style="background-color: #f7f2e4; min-width: 18em"
                class="card"
              >
                <div style="gap: 3em" class="card-body d-flex flex-column">
                  <div
                    style="gap: 3em"
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div>{{ product[1] }}</div>
                    <div>{{product[4]}} {{product[5]}}</div>
                  </div>
                  <div
                    style="gap: 3em"
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div>
                      <a
                        style="
                          background-color: var(--accent);
                          border-radius: 10px;
                        "
                        class="text-center btn-primary px-4 py-2 mt-5 border-0 text-center"
                        href="{{url_for('addCategories')}}"
                        role="button"
                      >
                        <span class="my-auto">Buy</span>
                      </a>
                    </div>

                    <div class="material-symbols-outlined">
                      add_shopping_cart
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %} {% endif %} {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock %}
